*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
    text-decoration: none;
    font-family:Serif,Arial;
    background: url('imgs/background6.jpg')no-repeat ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top:10px;
}
#main{
    padding-top: 3em;
}
#top{
    text-decoration: none;
    height: 100px;
}
li{
    list-style-type: none;
}
#menutop{
    z-index: 100;
    background: transparent;
    backdrop-filter: blur(5px);
    padding-bottom: 15px;
}
#top{
    border-bottom:0.5px solid rgba(255,255,255,0.5);
}
.search-addon{
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.noidung{
    background-color: rgb(255, 255, 255);
}
.noidung a{
    text-decoration: none;
    color:blue;
}
.form-box{
    position: relative;
    width: 500px;
    height: 300px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    justify-content: center;
    color:white;
}
.bt__login{
    width: 7.3em;
    height: 2em;
}
#lgform div{
    margin:2em 0 0 1em;
}
.namegr{
    backdrop-filter: blur(15px);
}

#nav a{
    color:white;
}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
#grname__add{
    width: 300px;
    height: 250px;
}
.title_menu{
    display: flex;
    padding-left:1em ;
}
.gear_menu{
    color: black;
    transition: ease-in 0.5s;
}
.gear_menu:hover{
    transform: rotate(45deg);
}
.titile__news{
    display: flex;
    background-color: black;
}
.titile__news a{
    text-decoration: none;
    width: 2em;
    height: 1em;
    font-size: 30px;
}
.sr__nav{
    position: relative;
    top: 1em;
}
.footer_{
    position: sticky;
    top: -100px;
    z-index: 1000;
}